*{
	margin: auto;
	padding: 5px;
	font-family: Avenir, sans-serif;
}
header{
	height: 100px;
}
h1{
	font-size: 1em;
}
h2{
	font-size: 0.8em;
	font-weight : normal;
}
a{
	text-decoration: none;
}
.logo{
	float: left;
	width: 100px;
	height: 100px;
}

/* Menu */

.menu
{
	float: right;
}
nav{
	
	width: 100%;
	margin: 0px auto 40px auto;
	background-color: white;
	position: sticky;
	top: 0px;
}
nav li{
	list-style-type: none;
	float: left;
	margin: 10px 10px 10px 10px ;
	text-align: center;
}
/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
	content: "";
	display: table;
	clear: both;
}
nav a{
	display: block; /*Toute la surface sera cliquable*/
	text-decoration: none;
	color: blue;
	border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
	padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
}
nav a:hover{
	color: black;
	border-top: 2px solid blue;
}






/*Barre de Recherche icone/champ/bouton*/

.btn-recherche{
	height: 30px;
}
.btn-recherche  button
{
margin-left: -5px;
border-bottom-right-radius: 10px;
border-top-right-radius: 10px;
border:none;
background: #0065FC;
color: #fff;
height: 30px;
width: 80px;
}
.btn-recherche  i
{
	float: left;
margin-right: -5px;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
border:none;
background: #F2F2F2;
width: 30px;
height: 20px;
text-align: center;
}
.btn-recherche  i::before
{

width: 30px;
height: 20px;

}
.btn-recherche  input
{
border-left:none;
border-right: none;
border-top: 1px solid #F2F2F2; 
border-bottom: 1px solid #F2F2F2; 
background: #fff;
height: 30px;
}

.fa-map-marker-alt
{
vertical-align: top;
}

/*Barre de Filtre*/

.box-filtre {
	display: flex;		
	flex-direction: row;
	

}
.box-filtre h1{
	border: none;
	font-size: 1em;
}


.box-1
{
	width: auto;
	text-align: center;


}
.box-1 i
{

float: left;
margin-right: -10px;
border-radius: 50px;
border:none;
background: #DEEBFF;
height: 20px;
position: relative;
}
.box-1 button
{
padding: 0 10px 0 20px;
margin-left: -5px;
border-bottom-right-radius: 40px;
border-top-right-radius: 40px;
border:2px solid #F2F2F2;
border-left: none;
background: #fff;
height: 30px;

}
.box-1:hover{
-webkit-transform: scale(1.3);
transform: scale(1.3);
}

.box-1 .fas
{
	color: #0065FC;
}



.fa-info-circle
{
	color: #0065FC;
}







/*Box Articles de la page*/
.section1
{
	display: flex;

	
}
section{
margin: 20px;
}

article, aside
{
	text-align: justify;
	margin: auto;
}
article
{
	margin-right: 20px;
	flex: 3;
}
aside
{
	flex: 1.2;
	position: relative;
	padding: 10px;

}
.onglet-hebergement 
{
	background-color:#F2F2F2;
	border-radius: 10px;
	padding: 20px;
	height: 500px;
	margin-right: 20px;
}
.onglet-populaires
{
	background-color:#F2F2F2;
border-radius: 10px;
	padding: 20px;
	height: 500px;
}
.box-hebergement
{
	display: flex;
	justify-content:space-around;
	align-items: center;
	background-color:#F2F2F2;
	flex-direction: row;

}
.box-hebergement img
{
	width:300px;
	height: 120px;
	border-radius: 10px;
	padding: 0;
}
.box
{
	background-color: #fff;
	margin: 10px;
	border-radius: 10px;
	flex-direction: column;
	margin: auto;
}
.box-populaires
{

	display: flex;
	justify-content:space-around;	
	flex-direction: column;


}
.box-populaires img
{
	width:100px;
	height: 100px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 0;
	
}

.box-2
{
	background-color: #fff;
  display: flex;
  flex-flow: row;
	margin: 10px;
	border-radius: 10px;


}

.fa-star
{
	color: grey;
}
.fa-star.blue
{
	color: blue;
}

.fa-chart-line
{
	float: right;
}

/*Activité à marseille*/
.activite
{

display: flex;
flex-direction: row;
justify-content: space-around;
}
.box-activite
{

display: flex;
flex-direction: row;
justify-content: space-around;
flex: 1;

}
.sous-box-activite-1
{
display: flex;
flex-direction: row;
}
.sous-box-activite-2
{
display: flex;
flex-direction: column;
}
.img-l
{
max-width: 300px;
margin: 0;
padding: 0;
}
.text-img-l
{
}
.img-m 
{
border-radius: 10px;


}
.img-s 
{
border-radius: 10px;

padding: -10px;
}
.img-l img
{
	width:300px;
	height: 300px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
box-shadow: 1px 1px 12px #555

}
.img-m img
{
	width:300px;
	height: 150px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;


}
.img-s img
{
	width:300px;
	height: 80px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

 
}

/* Footer*/

footer
{
	display: flex;    
	padding-top: 25px;
	background-color:#F2F2F2;
}
footer p, footer ul
{
	font-size: 0.8em;
}
footer h1
{
	font-size: 1.1em;
}
#a-propos
{
	width: 28%;
}
#nos-hebergements
{
	width: 35%;
}
#assistance
{
	width: 31%;
}

